.container{ //Container geral
    width:100%;
    height:100%;
    &BoxPeople{ //Conteiner de pessoas
        display: flex;
        justify-content: flex-start;
        width:100%;
        height:150px;
    }
}

.peopleSelectedTitle{
    background-color: rgba(117, 181, 250, 0.499);
    cursor: pointer;
}