.menuNav{
    display: flex;
    justify-content: center;
    color:white;
    padding:10px;
        li{
        padding:5px;
        margin-right: 30px;
        white-space: nowrap;
        cursor:pointer;
        &:hover{
            border-radius: 14px;
        }
    }
}

.categoryModal{
    z-index: 1;
    background-color: white;
    width:900px;
    height:400px;
    box-shadow: 0px 0px 2px 1px rgba(66, 64, 64, 0.609);
    padding:5px;
    top:126px; //Tamanho do topo. Importante! Alterar sempre q mexer no tamanho do topo, seja fonte, padding..
    left:calc(100vw / 2 - 450px); //Centralizado
    position: absolute;
    animation: categoryModal 0.1s;
}

.closeMenuNav{
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 900px;
    color:white;
    padding:10px;
    li{
        display: flex;
        align-items: center;
        padding:5px;
        margin-right: 30px;
        white-space: nowrap;
        cursor:pointer;
        &:hover{
            border-radius: 14px;
        }
    }
}


@keyframes categoryModal {
    from{
        left:calc(100vw / 2 - 350px);
        opacity: 0;
    }
    to{
        left:calc(100vw / 2 - 450px);
        opacity: 1;
    }
}